@using BlazorTicTacToeWeb.Models

@if (GameWinner == SquareValue.NotSet)
{
@foreach (var row in GameBoardSquares())
{
  <div class="row m-3">
    @foreach (var col in row)
    {
      <div class="col-sm-4" style="max-width: 50px">
        <GameBoardSquare GameBoardSquareModel="@col"></GameBoardSquare>
      </div>
    }
  </div>
}
<CurrentPlayerPrompt></CurrentPlayerPrompt>
}
else
{
    <p>The winner is: @GameWinner</p>
}
